<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ExcelPath" value="C:\Users\Jatin.wadhwani\Desktop\BHSI\Innovation\SqlScriptRepeater\SqlScriptRepeater\Test4.xlsx"/>
    <add key="SqlPath" value="C:\Users\Jatin.wadhwani\Desktop\BHSI\Innovation\SqlScriptRepeater\SqlScriptRepeater\Test.sql"/>
    <add key="MaxLines" value="1000"/>
  </appSettings>
</configuration>