<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ExcelPath" value="C:\R14\PayingCompanyCodeLogic.xlsx"/>
    <add key="SqlPath" value="C:\R14\EU BHSIPCC Table New.sql"/>
    <add key="MaxLines" value="1000"/>
  </appSettings>
</configuration>